.slider-positioner{display:table}.slider-positioner .srow{display:table-row}.slider-positioner .position{display:table-cell}.slider-positioner .position label{display:block;margin:0;font-weight:400}.slider-positioner .position input[type="radio"]{display:none}.slider-positioner .position input[type="radio"] + .pos-box{width:120px;height:50px;cursor:pointer;background-color:#eee;border:1px solid #ccc;display:flex;align-items:center;justify-content:center;transition:all 0.3s ease-in-out}.slider-positioner .position input[type="radio"]:checked + .pos-box{background-color:#114979;border-color:#114979;color:#fff}
#sortable .box-body img{width: 100%;height: 200px}
.loginform-group{position: relative;}