<div class="setting-section">
  <div class="setting-icon"><span class="fa fa-cog"></span></div>
  <div class="setting-open">
    <div class="close"><span class="fa fa-close"></span></div>
    <ul class="list-unstyled list-inline m-0">
      <li class="list-inline-item" data-css="blue"><span style="background-color:#007dc4;"></span></li>
      <li class="list-inline-item" data-css="orange"><span style="background-color:#f9af18;"></span></li>
      <li class="list-inline-item" data-css="black"><span style="background-color:#000;"></span></li>
    </ul>
  </div>
</div>